<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="django, crud, python, authentication">
    <meta name="description" content="Proyecto django grupo 15 codo a codo">
    <meta name="author" content="Lucas M Rodriguez, Federico Zattera, Alejandra Benaim">
    
    <title>{% block titulo %}Centro Medico - Django - Grupo15{% endblock titulo %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'main.css' %}"> comentado para habilitar el bloque de abajo-->
    
    {% block css %}
     <!-- CSS FILES -->        
     <link rel="preconnect" href="https://fonts.googleapis.com">
        
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

     <link href="{% static 'pacientes/css/bootstrap.min.css' %}" rel="stylesheet">

     <link href="{% static 'pacientes/css/bootstrap-icons.css' %}" rel="stylesheet">

     <link href="{% static 'pacientes/css/owl.carousel.min.css' %}" rel="stylesheet">

     <link href="{% static 'pacientes/css/owl.theme.default.min.css' %}" rel="stylesheet">

     <link href="{% static 'pacientes/css/templatemo-medic-care.css' %}" rel="stylesheet">
    
     <link rel="stylesheet" href="{% static 'doctores/css/style.css' %}" />

     <script src="https://kit.fontawesome.com/3682b977b2.js" crossorigin="anonymous"></script>
    
     {% endblock css %} 

</head>
<body class="text-dark">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src={% static 'logo.png' %} alt="logo" width="100" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li> 
           
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_pac' %}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_doc' %}">Doctores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contactenos</a>
                    </li> 
                </ul>
                <div class="col-md-3 text-end">
                    {% if user.is_authenticated %}
                        <p type="text" style="display: inline" class="">Bienvenido\a, {{ user.username }}.</p>
                        <a type="button" href="{% url 'password_change' %}" class="btn btn-outline-primary me-2">Cambiar password</a>
                        <a type="button" href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Cerrar Sesión</a>
                    {% else %}
                        <a type="button" href="{% url 'login' %}" class="btn btn-outline-primary me-2">Iniciar Sesión</a>
                        <a type="button" href="{% url 'registrarse' %}" class="btn btn-dark">Registrarse</a>
                    {% endif %}
                </div>             
            </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0"> 
    {% comment %}     <div class="container p-4">
        <!-- Los mensajes apareceran arriba del bloque content--> </div>{% endcomment %}
 
        {% include './mensajes.html' %}
        
        {% block content %}
            
        {% endblock content%}

    </main>

    {% include './footer.html' %}
    
    <!-- Para Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
   <!--Calendario doctores-->
    <script src="{% static 'doctores/js/calendar.js' %}"></script>
</body>
</html>