{% extends './base.html' %}

{% block titulo %}Cartilla de Especialidades y Profesionales{% endblock%}

{% block content %}
<h1 class="mt-4">Cartilla de Especialidades y Profesionales</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home_pac' %}">Portal de Pacientes</a></li>
    <li class="breadcrumb-item active">Cartilla de Especialidades y Profesionales</li>
</ol>

<div class="card">
    <div class="card-header">
        Cartilla de Especialidades y Profesionales
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Seleccione la Especialidad para visualizar nuestros Profesionales</p>
       
      <table class="table">
        <thead>
            <tr>
                <th>Especialidad</th>
                <th>Ver Profesionales</th>
            </tr>
        </thead>
        <tbody>
            {% for espec in especialidades %}
                <tr>
                    <td>{{espec.name_especiality}}</td>
                    <td>
                        <a href="" title="Ver" class="btn btn-primary"><i class="fa-regular fa-user-doctor"></i></a>

                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>




      <a href="{% url 'home_pac' %}" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock content %}