{% extends "pacientes/base.html" %}

{% block content %}
<main class="container">
    <section class="card card-body">
        <h2 class="display-1 text-center">Doctor  NOMBRE DOCTOR </h2>
        <h3>Especialidad</h3>
    </section>
   {% comment %}  <form
            action="{% url 'create_task' %}"
            method="post"
            class="card card-body bg-secondary"
          >
            {% csrf_token %}
            <label for="title"> Title:</label>
            <input
              type="checkbox"
              name="title"
              id="title"
              placeholder="Write a  title"
              class="form-control mb-2"
            />
            <label for="description">Description:</label>
            <textarea
              name="description"
              id="description"
              rows="3"
              placeholder="Write a description"
              class="form-control mb-2"
            ></textarea>
            <button type="submit" class="btn btn-success">Save</button>
          </form>
          {% for task in tasks %}
            <div class="card card-body m-2 text-dark mt-2 d-flex flex-row justify-content-between">
              <div>
                <h3>{{doctores.name}}</h3>
                <p class="card-text">{{consulta.especialidad}}</p>
              </div>
                
                <form action="{% url 'delete_task' task.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-sm">Borrar</button>
                </form> {% endcomment %}
</main>


{% endblock %}
