{% extends "pacientes/base.html" %} 
{% load static %}
{% block content %} 
<main class="container">
  <div class="card text-center" style="width: 100%;">
       <div class="card-body">
          <h4 class="card-header">Bienvenido al Portal de Pacientes del Centro Medico</h4>
          <br>
          <img src="..\static\pacientes\images\team-spirit-2447163_640.jpg" class="img-fluid rounded-start" alt="Pacientes">
          <br>
          <br>
          <div class="card-footer">
            <a href="{% url 'cartilla' %}" class="btn btn-dark">Ver Cartilla</a>
            <a href="{% url 'turnos' %}" class="btn btn-dark">Administrar Turnos</a>
            <a href="{% url 'pacientes_editar' %}" class="btn btn-dark">Editar</a>
            <a href="{% url 'pacientes_eliminar'%}" class="btn btn-dark">Eliminar</a>
            
          </div>
        </div>
  </div>
    
</main>
{% endblock %}
