{% extends "pacientes/base.html" %} 
{% load static %}
{% block content %} 
<main class="container">
  
  <h4 class="text-center">Portal de Pacientes del Centro Medico</h4>
  <h5 class="text-center">Bienvenido {{user.paciente.nombre}} {{user.paciente.apellido}}</h5>
  <div class="row m-4">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <p>Bienvenido al portal para los pacientes del centro medico, aqui encontrara un acceso para la cartilla de prestadores disponibles, como asi tambien como obtener turnos para los mismo, ademas podra solicitar su alta en el centro medico para disfrutar de los beneficios que esto conlleva. Lo invitamos a recorrer y ver las diferentes opciones de las cuales disponemos y contactarnos en caso de alguna duda.</p>
      </div>
      <br>
  </div>
  <div class="row m-4">
    <div class="card mb-3 p-2">
      <a href="{% url 'cartilla' %}" class="btn btn-dark">
        <img src="..\static\pacientes\images\medicos.jpg" class="card-img-top mt-2" alt="medicos" style="max-width: 540px;"></a>
      <div class="card-body">
        <h5 class="card-title text-center">Ver Cartilla</h5>
        <p class="card-text text-center">Aqui puede consultar las diferentes especialidades de los diferentes doctores</p>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="card mb-3 p-2">
      <a href="{% url 'turnos' %}" class="btn btn-dark">
        <img src="..\static\pacientes\images\calendario.jpg" class="card-img-top mt-2" alt="calendario" style="max-width: 540px; max-height: 380px;"></a>
      <div class="card-body">
        <h5 class="card-title text-center">Turnos</h5>
        <p class="card-text text-center">Aqui puede administrar los diferentes turnos, para que se acomoden a su circunstancia y necesidad</p>
      </div>
    </div>
  </div>
  
<div class="row mx-5">
  {% if user.paciente.is_active %}
  <a href="{% url 'pacientes_eliminar' user.id %}" class="btn btn-danger">Baja del Centro Medico</a>
  {% else %}
  <a href="{% url 'pacientes_reactivar' user.id %}" class="btn btn-success">Dar de alta nuevamente</a>
  {% endif %}
</div>
</main>
{% endblock %}
