{% extends "pacientes/base.html" %}
{% block title %}Datos del Paciente{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img img-thumbnail" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Nombre de Usuario:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Correo Electronico:</label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group"></div>
                        <label class="small mb-1">Nombre:</label> {{ profile_form.nombre }}
                        <label class="small mb-1">Apellido:</label> {{ profile_form.apellido }}
                        <label class="small mb-1">DNI:</label> {{ profile_form.dni }}
                        <label class="small mb-1">Sexo:</label> {{ profile_form.sex }}
                        <label class="small mb-1">Fecha de Nacimiento:</label> {{ profile_form.birthdate }}
                        <label class="small mb-1">Telefono:</label> {{ profile_form.phone_number }}
                        <label class="small mb-1">Direccion:</label> {{ profile_form.address }}
                        <label class="small mb-1">Ciudad:</label> {{ profile_form.city }}
                        <label class="small mb-1">Codigo Postal:</label> {{ profile_form.postal }}
                        <div class="form-check">
                            {{ profile_form.vip }} 
                            <label class="small mb-1 form-check-label">Afiliado</label> 
                            
                          </div>
                            
                            

                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Cambio de Contraseña</a>
                        <hr>
                        <label class="small mb-1">Cambiar Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Guardar Cambios</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
</div>
{% endblock content %}