{% extends './base.html' %}

{% block titulo %}Turnos de Pacientes{% endblock%}

{% block content %}
<h1 class="mt-4">Turnos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home_pac' %}">Portal de Pacientes</a></li>
    <li class="breadcrumb-item active">Turnos</li>
</ol>

<div class="card">
 
    <script>
      function mostrarSeleccionado(radioButton) {
        var seleccionado = radioButton.value;
        if (seleccionado == "Por calendario") {
          document.getElementById('calendario').style.display = 'block';
          document.getElementById('disponibilidad').style.display = 'none';
        }else {
          document.getElementById('calendario').style.display = 'none';
          document.getElementById('disponibilidad').style.display = 'block';
        }


        {% comment %} document.getElementById('resultado').textContent = 'Seleccionaste: ' + seleccionado; {% endcomment %}
      }
    </script>
 
 
    <div class="card-header">
      Turnos Medicos
    </div>
    {% comment %} <div class="card-body">
      <h5 class="card-title">Paciente</h5>
      <p class="card-text">Seleccione Especialidad - Profesional - Dia y Horario.</p>
      <a href="{% url 'home_pac' %}" class="btn btn-primary">Volver</a>
    </div>
  {% endcomment %}
    <div class="card">
        <div class="card-header">
          <h5 class="card-title">Paciente  {{user.get_username}} </h5>
        <div class="container">
          <h5>Selecciona como querés ver tu turno</h5>
          <div class="form-group">
            <label>Selecciona una opción:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="opcion" id="opcion1" value="Por calendario" onchange="mostrarSeleccionado(this)">
              <label class="form-check-label" for="opcion1">Por Calendario</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="opcion" id="opcion2" value="Por disponibilidad" onchange="mostrarSeleccionado(this)">
              <label class="form-check-label" for="opcion2">Por disponibilidad</label>
            </div>
            <div class="form-group">
              <label>Botón seleccionado:</label>
              <p id="resultado"></p>
            </div>
        </div>
      </div>
      <div class="container mt-5" id="calendario" style="display: none;">
        <div class="row" id="calendar">
        </div>
      </div>
      <div class="container mt-5" id="disponibilidad" style="display: none;">
          <div class="row"> poner listado de consutla de disponibilidad
        </div>
      </div>
      <div class="card-body">
          
          <p class="card-text">Seleccione Especialidad - Profesional - Dia y Horario.</p>
          <a href="{% url 'home_pac' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>





</div>
{% endblock content %}