{% extends './base.html' %}

{% block titulo %}Turnos de Pacientes{% endblock%}

{% block content %}
<div class = "container">
<h1 class="mt-4">Turnos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home_pac' %}">Portal de Pacientes</a></li>
    <li class="breadcrumb-item active">Turnos</li>
</ol>

    <div class="card-header">
      Turnos Medicos
    </div>
    
    <div class="card">
        <div class="card-header">
          <h5 class="card-title">Paciente  {{user.get_username}} </h5>
        <div class="container">
            <div class="row">
              <div class="border border-dark rounded">
                <br />
                {% comment %} <form action="{% url 'turnos' %}" id="turnos"> {% endcomment %}
                <form method="POST" action="{% url 'turnos' %}" id="turnos">
                  {% csrf_token %}
                  {{ form }}
                  {% comment %} {{ form.doctores }  } {% endcomment %}
                </form>
                <br />
                {% comment %} {{form.value}} {% endcomment %}
              </div>
            </div> 
            </div>
      </div>
    

        </div>
      </div>
      <div class="card-body">
          
          <p class="card-text">Seleccione Especialidad - Profesional - Dia y Horario.</p>
          <a href="{% url 'home_pac' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>





</div>
</div>




{% endblock content %}