{% extends '../base.html' %}

{% block titulo %}Eliminar Paciente{% endblock%}

{% block content %}
<div class="container">
    <h1 class="mt-4">Pacientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'home_pac' %}">Portal de Pacientes</a></li>
        <li class="breadcrumb-item active">Eliminar Paciente</li>
    </ol>


    <div class="card">
        <div class="card-header">Eliminacion del Paciente</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% include 'pacientes/pacientes_CRUD/formbaja.html' %}
                
            </form>
        </div>
    </div>
</div>
{% endblock %}

