{% extends '../base.html' %}

{% block titulo %}Eliminar curso{% endblock%}

{% block contenido %}
<h1 class="mt-4">Cursos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Eliminar Curso</li>
</ol>


<div class="card">
    <div class="card-header">Eliminacion de curso</div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            <p>Esta seguro que quiere eliminar el curso "{{ object.nombre }}"?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
        
    </div>
</div>
{% endblock %}