<footer class="site-footer section-padding mb-0" id="contact">
    <hr>
    
    <br>

    <div class="container">
        <div class="row">

            <div class="col-lg-4 me-auto col-12">
                <h5 class="mb-lg-4 mb-3">Nuestros Horarios</h5>
                <br>
                <p>Lunes a Viernes: 8:00 - 20:00</p>
<!--
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        Lunes a Viernes : 
                        <span> 8:00 AM - 20:00 PM</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-evenly">
                        Sabados :
                        <span> 9:00 AM - 15:00 PM</span>
                    </li>

                </ul>
-->                
            </div>

            <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                <h5 class="mb-lg-4 mb-3">Nuestra Clinica</h5>

                <p><a href="mailto:hello@company.co">hello@company.co</a><p>

                <p>Av. Rivadavia 1678 - C.A.B.A. - Argentina</p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 ms-auto">
                <h5 class="mb-lg-4 mb-3">Redes Sociales</h5>

                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                </ul>
                <p class="copyright-text mt-4">Copyright © Grupo 15 - CaC - 2023</p>
            </div>

        </div>
    </section>
</footer>